@model IEnumerable<Crud.Models.Students>

@{
    ViewData["Title"] = "StudentList";
}

<h1>StudentList</h1>

<p class="float-right">
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.batch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faculty)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.batch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faculty)
            </td>
            <td>
                @Html.ActionLink("Edit","Edit",new{id=item.id,item.name,item.email,item.mobile,item.address,item.batch_id,item.faculty_id},new {@class="btn btn-success"})
@*                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.id,@item.name,@item.email,@item.mobile,@item.address,@item.batch_id,@item.faculty_id">Edit</a>               
 *@               <a asp-action="Delete" onclick=" return confirm(' Do you want to delate?')" class="btn btn-danger"  asp-route-id="@item.id">Delete</a>

           </td>
        </tr>
}
    </tbody>
</table>
