@model IEnumerable<CrudWithjQueryAjax.Models.Candidate>

<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                   <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddOrEdit","Candidates",new {id=item.CandidateID},Context.Request.Scheme)','Update Candidate')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit</a>
                   <form asp-action="Delete" asp-route-id="@item.CandidateID" onsubmit="{return jQueryAjaxDelete(this)}" class="d-inline">
                       <input type="submit" value="Delete" class="btn btn-danger"/>
                   </form>
            </td>
        </tr>
}
    </tbody>
</table>